@model IEnumerable<Game>

<div class="col-md-3 col-md-offset-2">
    <table class="table table-condensed">
        <tr>
            <th>Game</th>
            <th>Activity</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.GameName
                </td>
                <td>
                    @item.UserActivity
                </td>
            </tr>
        }
    </table>
</div>
