@model YourGameOfTheYear.Models.UserReview

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>UserReview</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="UserRating" class="control-label"></label>
                <input asp-for="UserRating" class="form-control" />
                <span asp-validation-for="UserRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserReviewTitle" class="control-label"></label>
                <input asp-for="UserReviewTitle" class="form-control" />
                <span asp-validation-for="UserReviewTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDescription" class="control-label"></label>
                <input asp-for="UserDescription" class="form-control" />
                <span asp-validation-for="UserDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewDate" class="control-label"></label>
                <input asp-for="ReviewDate" class="form-control" />
                <span asp-validation-for="ReviewDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameId" class="control-label"></label>
                <select asp-for="GameId" class="form-control" asp-items="ViewBag.GameId"></select>
                <span asp-validation-for="GameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

